[submodule "fraud_service"]
	path = fraud_service
	url = https://github.com/AntonRudnikovskiy/fraud_service.git
[submodule "customer_service"]
	path = customer_service
	url = https://github.com/AntonRudnikovskiy/customer_service.git
[submodule "eureka_server"]
	path = eureka_server
	url = https://github.com/AntonRudnikovskiy/eureka_server.git
[submodule "apigw"]
	path = apigw
	url = https://github.com/AntonRudnikovskiy/apigw.git
[submodule "notification_service"]
	path = notification_service
	url = https://github.com/AntonRudnikovskiy/notification_service.git
